In [2]:
import rdata
import pandas as pd

In [11]:
parsed = rdata.parser.parse_file("f_data_sm.rda")
converted = rdata.conversion.convert(parsed)

c:\program files\python38\lib\site-packages\rdata\conversion\_conversion.py:669: UserWarning: Missing constructor for R class "POSIXct". The constructor for class "POSIXt" will be used instead.
  warnings.warn(
c:\program files\python38\lib\site-packages\rdata\conversion\_conversion.py:669: UserWarning: Missing constructor for R class "POSIXt". The underlying R object is returned instead.
  warnings.warn(

In [12]:
df = pd.DataFrame(converted['f_data_sm'])
print(df)

       SEASON  COUNTRY             LEAGUE          DATE       HOMETEAM  \
1      1994.0  England     Premier League  7.452864e+08        Arsenal
2      1994.0  England     Premier League  7.452864e+08    Aston Villa
3      1994.0  England     Premier League  7.452864e+08        Chelsea
4      1994.0  England     Premier League  7.452864e+08      Liverpool
5      1994.0  England     Premier League  7.452864e+08       Man City
...       ...      ...                ...           ...            ...
87812  2019.0   Greece  Ethniki Katigoria  1.557014e+09      Atromitos
87813  2019.0   Greece  Ethniki Katigoria  1.557014e+09       Giannina
87814  2019.0   Greece  Ethniki Katigoria  1.557014e+09         Larisa
87815  2019.0   Greece  Ethniki Katigoria  1.557014e+09    Levadeiakos
87816  2019.0   Greece  Ethniki Katigoria  1.557014e+09  Panathinaikos

             AWAYTEAM FTSC FTR  FTHG  FTAG  FTTG   H   D   A
1            Coventry  0-3   A   0.0   3.0   3.0 NaN NaN NaN
2                 QPR  4-1   H   4.0   1.0   5.0 NaN NaN NaN
3           Blackburn  1-2   A   1.0   2.0   3.0 NaN NaN NaN
4      Sheffield Weds  2-0   H   2.0   0.0   2.0 NaN NaN NaN
5               Leeds  1-1   D   1.0   1.0   2.0 NaN NaN NaN
...               ...  ...  ..   ...   ...   ...  ..  ..  ..
87812       OFI Crete  0-2   A   0.0   2.0   2.0 NaN NaN NaN
87813            PAOK  0-2   A   0.0   2.0   2.0 NaN NaN NaN
87814      Olympiakos  0-3   A   0.0   3.0   3.0 NaN NaN NaN
87815             AEK  0-3   A   0.0   3.0   3.0 NaN NaN NaN
87816     Panetolikos  4-0   H   4.0   0.0   4.0 NaN NaN NaN

[87816 rows x 14 columns]